@import url("https://fonts.googleapis.com/css2?family=Denk+One&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(26, 10, 49, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(26, 10, 49, 1);
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(26, 10, 49, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px 0;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 497px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(26, 10, 49, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 26px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 110px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 33px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 20px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 120px 14px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Denk One;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0%;

  color: rgba(253, 224, 85, 1);
}

.home-text {
  font-family: Denk One;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 16px 0 63px;
}
.home__google-button_image {
  width: 256px;
  height: 64px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/1.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 150px 160px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .home-title {
    font-family: Denk One;
    font-weight: 400;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0%;

    width: 869px;
  }

  .home-text {
    font-family: Denk One;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0%;

    width: 606px;
    padding: 39px 0 80px;
  }
}
.why {
  width: 375px;
  height: 1082px;
  margin: auto;
  padding: 40px 15px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Advantages\ \(1\).png");
}

.why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-item {
  display: flex;
  align-items: start;
  gap: 16px;
}

.why-text-bold {
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(58, 132, 255, 1);
}
.why-text {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 802px;
    padding: 80px 160px 0 736px;
    background-image: url("/img/why/Advantages.png");
  }
  .why-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .why-text-bold {
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .why-text {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 638px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}

.about-title {
  font-family: Denk One;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(140, 84, 57, 1);
}

.about-text {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  padding: 33px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px 0;
    width: 1440px;
    height: 543px;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }
  .about-title {
    font-family: Denk One;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
    padding: 73px 0px 0;
  }
}
.how {
  width: 375px;
  height: 1055px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ Play\ \(1\).png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-list {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.how-text-bold {
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(58, 132, 255, 1);
}
.how-text {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.how-text-two-bold {
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(253, 224, 85, 1);
}
.how-text-two {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 40px 0 24px;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 776px;
    padding: 80px 162px 0 736px;
    background-image: url("/img/How\ to\ Play.png");
    align-items: start;
  }
  .how-list {
    padding: 73px 0 32px;
    display: flex;
    flex-direction: column;
  }

  .how-text-bold {
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .how-text {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .how-text-two-bold {
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .how-text-two {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 32px 0 16px;
  }
}

.reviews {
  width: 375px;
  height: 384px;
  margin: auto;
  padding: 40px 0px 0px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Reviews.png");
}

.reviews-list {
  padding-top: 40px;
}
.reviews-lists {
  display: none;
}
.reviews-item {
  margin: 0 5px;
  width: 327px;
  height: 115px;

  border-radius: 8px;
  padding: 16px;

  background: rgba(140, 84, 57, 1);
  box-shadow: 0px -4px 1px 0px rgba(0, 0, 0, 0.25) inset;
}
.reviews-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-text-bold {
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(253, 224, 85, 1);
}
.reviews-text {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 551px;
    padding: 80px 160px 0;
    background-image: url("/img/Reviews\ \(1\).png");
  }
  .reviews-list {
    display: none;
  }
  .reviews-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 44px;
    gap: 32px;
  }
  .reviews-item {
    margin: 0;
    width: 352px;
    height: 124px;
    border-radius: 8px;
    padding: 16px;
  }

  .reviews-text-bold {
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.faq {
  padding: 40px 16px 30px;
  margin: auto;
  width: 375px;
  height: 932px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/FAQ.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-question {
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

.faq-answer {
  padding-top: 4px;
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 160px;
    width: 1440px;
    height: 730px;
    background-image: url("/img/FAQ\ \(1\).png");
  }
  .faq-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 534px;
  }

  .faq-question {
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  height: 670px;
  margin: auto;
  padding: 40px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Gallery.png");
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  margin: auto;
}
.gallery__item {
  width: 288px;
  height: 512px;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}

.slick-dots li {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 847px;

    margin: auto;
    padding: 80px 160px 0;
    background-image: url("/img/gallery/Gallery\ \(1\).png");
  }

  .gallery__item {
    width: 288px;
    height: 512px;

    margin: 0 10px;
  }

  .gallery__list {
    padding: 80px 0px 20px;
    margin: 0 100px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots li {
    display: inline-block;
    list-style: none;
    width: 12px;
    height: 12px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/gallery/22.png") no-repeat center/cover;

    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/gallery/2.png") no-repeat center/cover;
  }
  .slick-prev:before {
    content: url("/img/gallery/1.png");

    display: flex;
    margin-left: -40px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/11.png");
    display: flex;
    margin-left: 20px;
  }
}
.features {
  width: 375px;
  height: 868px;
  margin: auto;
  background-image: url("/img/Game\ Features.png");
  padding: 40px 16px 0px;
}
.features-title {
  color: rgba(253, 224, 85, 1);
}
.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.features-text-bold {
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(58, 132, 255, 1);
}
.features-text {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    background-image: url("/img/Game\ Features\ \(1\).png");
    width: 1440px;
    height: 746px;
    padding: 80px 160px 0;
  }
  .features-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .features-text-bold {
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
  }
  .features-item-two {
    margin-left: 578px;
  }
  .features-item-three {
    margin-top: 40px;
  }
}
.footer {
  color: #ffffff;
  padding: 40px 16px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
  }

  .footer-text {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 120px 16px 40px;
  font-family: Encode Sans Semi Condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-title {
  font-family: Denk One;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(253, 224, 85, 1);
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Encode Sans Semi Condensed;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
    width: 1440px;
    margin: auto;
    font-family: Encode Sans Semi Condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Denk One;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Encode Sans Semi Condensed;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 32px;
  border-radius: 32px;
  background: rgba(26, 10, 49, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Denk One;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}
.cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 256px;
  border-radius: 28px;
  border-width: 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Denk One;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 52px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
